<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Karla|Poppins:400,700" rel="stylesheet">

  <title> ~/the-delorean-codes </title>
</head>

<body>
  <div id="root"></div>

  <script src="https://cdn.ravenjs.com/3.16.0/raven.min.js"
    crossorigin="anonymous"></script>
  <script type="text/javascript">
  Raven.config('https://73e7f593ee0a4a93aed870ea7bc78d8b@sentry.io/183614').install()
  </script>
  <script type="text/javascript">
  var USERNAME = "{{username}}";
  </script>
  <!-- Attach React components -->
  <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
